
#scor{
border:none;
color:rgb(255, 255, 255);
font-size: 1px;
}
#scor:focus{
    outline:none;
}
#scor:focus-within{
    outline: none;
}
.input-group{
    justify-content: space-around;
    align-items: center;
}

h1{
    padding: 2% 2%;  
    text-shadow: 1px 1px 2px rgb(125, 125, 125);
} 

.table-styled{
    padding: 20px;
    border-radius: .8rem;
    box-shadow: 2px 2px 2px 1px rgba(231, 3, 3, 0.2);
}
table{
    border: 1px solid rgb(136, 136, 136); 
    border-radius: .8rem;
    overflow: hidden;
}
thead{
    background-color: rgb(254, 185, 11);
    color:white;
    font-weight: bolder;
}
thead th{
    font-size: 18px;
    font-weight: 500;   
    text-shadow: 2px 2px 3px rgb(208, 112, 3);

}
tbody th{
    font-size: 15px;
    font-weight: 400;
    
}
tbody #ciclo{
    width: 100px;
}
